.cloudflare-turnstile {
    font-weight: bold;
    color: #c00;
    margin-top: 1rem;
}

.cloudflare-turnstile .cf-turnstile,
.cloudflare-turnstile .cf-turnstile-manual {
    margin-top: 0;
}

.cf-turnstile-manual {
    min-height: 65px;
}
